<section class="add-super m-4">

    <h1>Adicionar nuevo super héroe</h1>

  <div class="row m-auto full-height justify-content-center align-items-center mt-4">
    <mat-card class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-4 text-center p-4">

      <mat-card-content>
        <form [formGroup]="addForm" (ngSubmit)="submitForm()">

          <div class="mt-2">
            <paz-form-input [controlName]="'name'" [errorMessage]="this.addForm.get('name')?.errors ? 'El nombre es requerido' : null" 
              [placeholder]="'Nombre *'" [activeIcon]="'badge'" />
          </div>

          <div class="mt-2">
            <paz-form-input [controlName]="'description'"  [placeholder]="'Descripción'"
              [activeIcon]="'description'" />
          </div>

          <div class="mt-2">
            <paz-form-input [controlName]="'photo'"  [placeholder]="'Url imagen'"
              [activeIcon]="'link'" />
          </div>

          <div class="mt-2">
            <paz-form-input [controlName]="'powers'" [placeholder]="'Poderes'"
              [activeIcon]="'article'" />
          </div>

          <div class="mt-2">
            <paz-form-input [controlName]="'battle_numbers'" [typeInput]="'number'" [placeholder]="'Número de batallas'"
              [activeIcon]="'pin'" />
          </div>

          <div class="text-center m-3">
            <button type="submit" [disabled]="!addForm.valid" class="btn-main full-width">Guardar 
            </button>

            <button  [routerLink]="['/home']" class="btn-secundary full-width mt-3">Cancelar 
            </button>
          </div>


        </form>
      </mat-card-content>
    </mat-card>
  </div>

</section>