
h1 {
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-family: "Encode-Regular";
    font-size: 18px;
    text-decoration: underline;
}

img{
    max-width: 100%;
    max-height: 200px;
}