:root {
    --color-primary: #32517c ;
    --color-primary-light: #1c519a;

    --color-bg-table: #1c519a1c;
    --color-bg-table-light: #1c519a0d;

    --color-text-light: #676767;

    --color-light:#FFFFFF;
    --color-error:#FF0000;

  
  }
  